.flex-container {
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.image {
  border: 1px black;
  background-color: azure;
}
.image img {
  width: 350px;
  padding: 10px;
}
.desc {
  padding: 15px;
  border: 2px black;
  text-align: center;
}
