.grid-container {
    display: grid;
    background-color: aqua;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;

}
.griditem {
    text-align: center;
    border: 1px solid coral;
    padding: 20px;
    font-size: 30px;
    background-color: cornsilk;
}