.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0ddec;
}
.flex-container1 {
  display: flex;
  flex-wrap: wrap;
  background-color:forestgreen;
}
.images {
  margin: 5px;
  border: 1px solid gray;
  width: 450px;
  
}

.images img {
  width: 100%;
  height: auto;
}

.image {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;
  
}
.image img {
  width: 100%;
  height: auto;
}
h1 {
  text-align: center;
}
div .desc {
  padding: 15px;
  text-align: center;
}
h2 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  justify-content: center;
  align-items: center;
}