.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: lightskyblue;
    padding: 10px;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    background-color: lightskyblue;
    padding: 10px;
}
.grid-items {
    background-color: lightyellow;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: left;
}
#count-el{
    display: block;
    background-color: blueviolet;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    text-align: center;
}
#increment-btn{
    display: block;
    background-color: yellowgreen;
    height: 100px;
    width: 150px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;

}