.grid-container1 {
    display: grid;
    background-color: lime;
    padding: 10px;
}
.grid-container2 {
    display: grid;
    background-color: violet;
    padding: 10px;
}
.griditem {
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 10px;
}